<template>
  <article>
    <b-row>
      <b-col>
        <b-row class="mb-3">
          <b-col>
            <slot name="field_image" />
            <slot name="field_body" />
            <slot name="field_blog_primary_term_ref" />
            <slot name="field_tags" />
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </article>
</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'

export default {
  mixins: [DruxtEntityMixin],

  computed: {
    theme: () => 'wkshop_theme'
  }
}
</script>
