<template>
  <div>
    <slot name="field_text" />
  </div>
</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'

export default {
  mixins: [DruxtEntityMixin],

  computed: {
    theme: () => 'wkshop_theme'
  }
}
</script>
