<template>
  <b-row>
    <b-container>
      <h1>Login</h1>
      <b-card title="Administer">
        <p>Edit content with live Drupal backend.</p>
        <b-button
          block
          variant="primary"
          @click="$auth.loginWith('drupal')"
        >
          Login with Drupal
        </b-button>
      </b-card>
    </b-container>
  </b-row>
</template>

<script>
export default {
  layout: 'plain',
  middleware: 'auth',
  auth: 'guest',
}
</script>
