<template>
  <DruxtSite theme="wkshop_theme">
    <template #default="{ props, regions }">
      <b-container fluid>
        <b-row>
          <DruxtBlockRegion
            v-if="regions.includes('top')"
            v-bind="props.top"
            theme="wkshop_theme"
            :wrapper="{
              class: [
                'container'
              ]
            }"
          />
        </b-row>

        <b-row>
          <DruxtBlockRegion
            v-if="regions.includes('branding')"
            v-bind="props.branding"
            theme="wkshop_theme"
          />

          <DruxtBlockRegion
            v-if="regions.includes('header')"
            v-bind="props.header"
            theme="wkshop_theme"
            :wrapper="{
              class: [
                'bg-white',
                'p-3'
              ],
              component: 'b-navbar',
              propsData: {
                sticky: true,
                toggleable: 'lg',
              }
            }"
          />
        </b-row>

        <b-row>
          <DruxtBlockRegion
            v-if="regions.includes('navigation')"
            v-bind="props.navigation"
            theme="wkshop_theme"
          />
          <!--          <DruxtBlockRegion-->
          <!--            v-if="regions.includes('cart')"-->
          <!--            v-bind="props.cart"-->
          <!--          />-->
        </b-row>

        <b-row class="bg-light">
          <b-container :class="containerClass">
            <b-row v-if="!isHomePath && regions.includes('breadcrumb')">
              <b-col>
                <DruxtBlockRegion
                  v-bind="props.breadcrumb"
                  theme="wkshop_theme"
                />
              </b-col>
            </b-row>

            <b-row v-if="regions.includes('before_content')">
              <b-col class="mb-3 mb-md-5">
                <DruxtBlockRegion
                  v-bind="props.before_content"
                  theme="wkshop_theme"
                />
              </b-col>
            </b-row>

            <b-row>
              <DruxtBlockRegion
                v-if="regions.includes('content')"
                v-bind="props.content"
                theme="wkshop_theme"
              />
            </b-row>

            <b-row v-if="regions.includes('after_content')">
              <b-col class="mb-3 mb-md-5">
                <DruxtBlockRegion
                  v-bind="props.after_content"
                  theme="wkshop_theme"
                />
              </b-col>
            </b-row>
          </b-container>
        </b-row>

        <b-row>
          <b-container :class="containerClass">
            <b-row>
              <b-col cols="12" md="4" v-if="regions.includes('doormat_second_col1')" class="bg-dark text-white">
                <DruxtBlockRegion
                  v-bind="props.doormat_second_col1"
                  theme="wkshop_theme"
                />
              </b-col>
              <b-col cols="12" md="4" v-if="regions.includes('doormat_second_col2')" class="bg-dark text-white">
                <DruxtBlockRegion
                  v-bind="props.doormat_second_col2"
                  theme="wkshop_theme"
                />
              </b-col>
              <b-col cols="12" md="4" v-if="regions.includes('doormat_second_col3')" class="bg-dark text-white">
                <DruxtBlockRegion
                  v-bind="props.doormat_second_col3"
                  theme="wkshop_theme"
                />
              </b-col>
            </b-row>
          </b-container>
        </b-row>

        <b-row v-if="regions.includes('footer')" class="bg-dark text-white">
          <b-container
            :class="containerClass.concat(['text-center', 'text-md-left'])"
          >
            <DruxtBlockRegion
              v-bind="props.footer"
              theme="wkshop_theme"
            />
          </b-container>
        </b-row>
      </b-container>
    </template>
  </DruxtSite>
</template>

<script>
export default {
  computed: {
    containerClass: () => [],
    isHomePath: ({ $store }) => !!$store.state.druxtRouter.route.isHomePath,
    theme: () => 'wkshop_theme'
  }
}
</script>
