<template>
  <b-container>
    <b-navbar-toggle target="nav-collapse" />

    <b-collapse id="nav-collapse" class="ml-auto" is-nav>
      <!-- Main menu -->
      <DruxtBlockMenuBlockMain />
    </b-collapse>
  </b-container>
</template>

<script>
export default {
  components: {}
}
</script>
