<template>
  <article>
    FULLLLLL
    <b-row class="mb-3">
      <b-col>
        Title
        <slot name="title" />
      </b-col>
    </b-row>
    <b-row class="mb-3">
      <b-col>
        Body
        <slot name="field_body" />
      </b-col>
    </b-row>
    <b-row class="mb-3">
      <b-col>
        Layout builder:
        <slot name="layout_builder__layout" />
      </b-col>
    </b-row>
    ALL slots:
    <slot />
    NID
    <slot name="drupal_internal__nid" />
  </article>
</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'

export default {
  mixins: [DruxtEntityMixin],

  computed: {
    theme: () => 'wkshop_theme'
  },

  druxt: {
    schema: {
      mode: 'full'
    },
    query: {
      fields: ['drupal_internal__nid']
    }
  }
}
</script>
