<template>
  <b-breadcrumb :home="true" :items="items" />
</template>

<script>
import { DruxtBreadcrumbMixin } from 'druxt-breadcrumb'

export default {
  mixins: [DruxtBreadcrumbMixin],

  computed: {
    items () {
      // return (this.crumbs || []).filter(item => item.to !== '/')
      return (this.crumbs || [])
    }
  }
}
</script>
