<template>
  <b-form class="d-flex" @submit="onSubmit">
    <b-input v-model="query" />
    <b-button :disabled="!query.length" nuxt :to="to">
      <b-icon-search />
    </b-button>
  </b-form>
</template>

<script>
import { DruxtBlocksBlockMixin } from 'druxt-blocks'
import { DruxtSearchMixin } from 'druxt-search'
import { BIconSearch } from 'bootstrap-vue'

export default {
  mixins: [DruxtBlocksBlockMixin, DruxtSearchMixin],
  components: { BIconSearch },
  computed: {
    searchOptions: () => ({
      limit: 3
    }),

    to () {
      return { path: `/zoeken?query=${this.query}` }
    }
  },

  methods: {
    onSubmit (e) {
      e.preventDefault()

      this.$router.push(this.to)
    }
  }
}
</script>
